<!--Telegram comments widget -->
<section class="comments py-4" id="comments">
  <div class="widget emerge" data-hold="500" style="transition: opacity 500ms ease-out 0s; opacity: 1;">
    <div class="comments-white dark:hidden visible">
      <script async src="https://comments.app/js/widget.js?3" data-comments-app-website="OvICjhJt" data-limit="5"></script>
    </div>
    <div class="comments-dark dark:inline hidden">
    <script async src="https://comments.app/js/widget.js?3" data-comments-app-website="OvICjhJt" data-limit="5" data-dark="1"></script>
    </div>
</div>
</section>

<!--data-dark="1"-->


