<footer class="dark:black">
  <div class="mx-auto  pb-10">
    <p class="text-sm py-2">
      <!--Добавляем автора сайта-->
      <span class="space-out-bottom-mili-xs">© {{ site.author }} × </span>
      <!--Добавляем копирайт на сайт и даты-->
      <span>2017 — {% year %}</span>
      <!---->
        
<!--Ссылки на соц-сети
      {% if site.github != "" %}
        <a href={{ site.github }}>Github</a> 
      {% endif %}

      {% if site.linkedin != "" %}
        &middot; <a href={{ site.linkedin }}>LinkedIn</a>
      {% endif %}

      {% if site.twitter != "" %}
        &middot; <a href={{ site.twitter }}>Twitter</a>
      {% endif %}
-->
  </div>
</footer>