<nav id="header" class="w-full z-30 top-10 py-1">
  <div class="w-full flex place-items-start justify-between mt-0 py-2">

    <div id="mobileMenuButton" class="cursor-pointer sm:hidden block mr-6 inline-block left-0 top-0">
      <i class="las la-bars text-mk-background dark:text-mk-yellow-main"></i>
      </svg>
    </div>
    <!--     <input class="hidden" type="checkbox" id="menu-toggle"> -->

    <div id="nav-menu" class="hidden sm:flex sm:items-top sm:w-auto w-full order-1 sm:order-1">
      <nav>
        <ul class="sm:flex items-center justify-between text-blue-600 pt-0 sm:pt-0">
          <li><a class="inline-block no-underline hover:text-black font-medium  pt-0 pb-1 pl-6 lg:-ml-2" href="#">All
              Shows</a></li>
          <li><a class="inline-block no-underline hover:text-black font-medium  pt-0 pb-1 pl-6 lg:-ml-2"
              href="#">Favourites</a></li>
          <li><a class="inline-block no-underline hover:text-black font-medium  pt-0 pb-1 pl-6 lg:-ml-2"
              href="#">Schedule</a></li>
          <li><a class="inline-block no-underline hover:text-black font-medium  pt-0 pb-1 pl-6 lg:-ml-2" href="#">Add
              Show</a></li>
        </ul>
      </nav>
    </div>

    <div id="nav-content" class="order-2 sm:order-3 flex flex-wrap items-top justify-end mr-0">
      <div id="nav-buttons" class="flex items-center w-full sm:w-full">

        <div class="text-gray-800 dark:text-white font-medium rounded-lg text-sm px-4 lg:px-5 p-0 lg:py-2.5 mr-2">
          <label id="toggleDarkMode" class="relative inspanne-flex items-center cursor-pointer switch-button">
            <input type="checkbox" class="sr-only peer">
            <div
              class="w-11 h-6 bg-gray-200 peer-focus:outspanne-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
            </div>
          </label></div>
          <div><a href="/posts">Блог</a> →</div>
      </div>
    </div>
  </div>
</nav>

<script>
  var mobileMenuButton = document.getElementById("mobileMenuButton");
  mobileMenuButton.onclick = function () {
    document.getElementById("nav-menu").classList.toggle("hidden");
    document.getElementById("nav-buttons").classList.toggle("flex");
    document.getElementById("nav-buttons").classList.toggle("flex-col");
    document.getElementById("nav-buttons").classList.toggle("space-y-2");
  }
  // Hide element when click outside nav
  // var theElementContainer = document.getElementsByTagName("nav")[0];
  // document.addEventListener('click', function(event) {
  //   if (!theElementContainer.contains(event.target)) {
  //     document.getElementById("menu").classList.toggle("hidden");
  //     document.getElementById("nav-buttons").classList.toggle("flex");
  //     document.getElementById("nav-buttons").classList.toggle("flex-col");
  //     document.getElementById("nav-buttons").classList.toggle("space-y-2");
  //   }
  // });
</script>