<nav class="font-normal mb-4"> 
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-2xl">
    <a href="/" class="flex items-center space-x-4 no-underline">
      <img src="/assets/img/furye.jpg" class="mr-3 w-10 h-10 sm:h-9 rounded-full" alt="Дмитрий Фурье" />
      <div class="ml-0.5 self-center font-semibold whitespace-nowrap dark:text-white">Дмитрий Фурье</div>
    </a>
    <div class="flex items-center lg:order-2">
      <a href="/done"
        class="dark:text-white text-black bg-primary-700 hover:bg-primary-800 font-medium rounded-lg px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 link no-visited">Проекты</a>
      <a href="/podcasts"
        class="dark:text-white text-black bg-primary-700 hover:bg-primary-800 font-medium rounded-lg px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 link no-visited">Наговорил </a>
      <a href="/posts/"
        class="dark:text-white text-black bg-primary-700 hover:bg-primary-800 font-medium rounded-lg px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 link no-visited">Блог</a>
      <span class="text-gray-800 dark:text-white font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2">
        <label id="toggleDarkMode" class="relative inline-flex items-center cursor-pointer switch-button">
          <input type="checkbox" class="sr-only peer">
          <div
            class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
          </div>
        </label></span>
    </div>
  </div>
</nav>