---
layout: base
title: Дать денег Диме Фурье 💸
desc: Вы можете прислать мне донат, если вам нравится, то, что я делаю.
permalink: /donation.html
changefreq: monthly
priority: "0.5"
---

<h2>Поддержать Диму Фурье</h2>
<div class="text-base">
<p>Если вам нравится то, что я делаю, вы можете отправить мне небольшой донат</p>
<h3>Обычными деньгами</h3>
<p><span><a href="https://pay.cloudtips.ru/p/eb780721">CloudTips</a></span></p>
<<<<<<< HEAD
<p><span><a href="">Donation Allerts</a></span></p>
=======
<p><span><a href="https://donate.qiwi.com/payin/dmitriyfourier">Qiwi Donate</a></span></p>
<p><span><a href="https://www.tinkoff.ru/cf/VBzM5sKcdH">Tinkoff</a></span></p>
>>>>>>> dc7310813e35cfcbc182aef594be70942d77b4f3
<h3>Криптой</h3>
<div class="flex items-center mb-4 flex-wrap xs:flex-col">
  <div class="mr-2 sm:block">
    <svg class="inline" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M24 44C35.0457 44 44 35.0457 44 24C44 12.9543 35.0457 4 24 4C12.9543 4 4 12.9543 4 24C4 35.0457 12.9543 44 24 44Z"
        fill="#0088CC" />
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M17.1915 16.0001L30.9149 16C31.4004 16 31.8856 16.0713 32.3926 16.3077C33.0004 16.591 33.3227 17.0375 33.5485 17.3678C33.566 17.3935 33.5825 17.4199 33.5977 17.447C33.8632 17.9196 34 18.4299 34 18.9787C34 19.5002 33.8759 20.0684 33.5977 20.5636C33.5951 20.5685 33.5923 20.5731 33.5896 20.5778L24.9194 35.4714C24.7282 35.7999 24.3763 36.0013 23.9962 36C23.6162 35.9987 23.2657 35.7947 23.0768 35.4649L14.5658 20.6031C14.5634 20.599 14.5609 20.595 14.5585 20.5909C14.3637 20.2699 14.0625 19.7736 14.0098 19.133C13.9614 18.544 14.0937 17.9538 14.3897 17.442C14.6857 16.9302 15.1313 16.5211 15.6672 16.2706C16.2419 16.0021 16.8242 16.0001 17.1915 16.0001ZM22.9362 18.1277H17.1915C16.8141 18.1277 16.6692 18.1509 16.5679 18.1983C16.4278 18.2636 16.3102 18.3712 16.2316 18.5072C16.1529 18.6433 16.1173 18.8009 16.1303 18.9587C16.1377 19.0492 16.1746 19.1526 16.3921 19.5113C16.3966 19.5189 16.4011 19.5265 16.4054 19.5341L22.9362 30.9378V18.1277ZM25.0638 18.1277V30.9942L31.7458 19.516C31.8212 19.379 31.8723 19.1809 31.8723 18.9787C31.8723 18.8147 31.8383 18.6723 31.7623 18.5255C31.6825 18.4107 31.6339 18.35 31.5933 18.3084C31.5584 18.2728 31.5316 18.2538 31.4937 18.2361C31.3357 18.1625 31.174 18.1277 30.9149 18.1277H25.0638Z"
        fill="white" />
    </svg></div>
  <div><b>TON:</b> <br>UQD5XVfrxG-OYxIteZTgygJ1wTokKXMn0KO0it7cgdNopmSq</div>
</div>

<div class="flex items-center mb-4 flex-wrap">
  <div class="mr-2">
    <svg class="inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48px" height="48px">
      <circle cx="24" cy="24" r="20" fill="#26a69a" />
      <rect width="18" height="5" x="15" y="13" fill="#fff" />
      <path fill="#fff"
        d="M24,21c-4.457,0-12,0.737-12,3.5S19.543,28,24,28s12-0.737,12-3.5S28.457,21,24,21z M24,26 c-5.523,0-10-0.895-10-2c0-1.105,4.477-2,10-2s10,0.895,10,2C34,25.105,29.523,26,24,26z" />
      <path fill="#fff" d="M24,24c1.095,0,2.093-0.037,3-0.098V13h-6v10.902C21.907,23.963,22.905,24,24,24z" />
      <path fill="#fff"
        d="M25.723,25.968c-0.111,0.004-0.223,0.007-0.336,0.01C24.932,25.991,24.472,26,24,26 s-0.932-0.009-1.387-0.021c-0.113-0.003-0.225-0.006-0.336-0.01c-0.435-0.015-0.863-0.034-1.277-0.06V36h6V25.908 C26.586,25.934,26.158,25.953,25.723,25.968z" />
    </svg>
  </div>
  <div><b>USDT:</b> <br>THHzrLwaH5wTnoGRY9wAhA2uF6EgEYbJqF
  </div>
</div>
<div class="flex items-center mb-4 flex-wrap">
  <div class="mr-2"> 
    <svg class="inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48px" height="48px">
      <path fill="#ffc107" d="M44,24c0,11.044-8.956,20-20,20S4,35.044,4,24S12.956,4,24,4S44,12.956,44,24z" />
      <path fill="#fff8e1"
        d="M17,34V14h8.199c2.41,0,4.234,0.465,5.48,1.395s1.867,2.293,1.867,4.086c0,0.98-0.25,1.844-0.746,2.59c-0.5,0.746-1.195,1.293-2.086,1.641c1.016,0.258,1.816,0.773,2.402,1.555C32.703,26.043,33,26.992,33,28.121c0,1.922-0.609,3.379-1.828,4.367S28.219,33.98,25.965,34H17z M21,22h4.363c2.063-0.035,3.098-0.824,3.098-2.445c0-0.906-0.262-1.559-0.785-1.957S26.328,17,25.199,17H21V22z M21,25v6h4.844C26.805,31,29,30.531,29,28.391S27.883,25.027,26,25H21z" />
      <path fill="#fff8e1" d="M20 11h3v5h-3V11zM25 11h3v5h-3V11zM20 32h3v5h-3V32zM25 32h3v5h-3V32z" /></svg> 
  </div>
  <div><b>BitCoin:</b> <br>16ktShiowys3fAMsooxfup1ncPBmxvTz25
  </div>
</div>
  

