---
layout: base
title: Дмитрий Фурье
desc: Заметки, проекты, подкасты и другие странные вещи Димы Фурье
date: 2015-06-04
changefreq: Weekly
priority: "0.8"
---
{% include "_partials/about.liquid" %}

<h2 class="text-2xl font-bold">Сделал</h2>
<h2 class="text-2xl font-bold">Наговорил</h2>
<div class="warp pb-4">
  <div class="flex">
{%- for podcast in collections.podcasts -%}

    <div class="flex space-x-4 shrink-0">
      <div class="shrink-0 py-2 px-2">
        <a href="{{ podcast.url }}" class="link-novisited">
          <figure class="rounded-full w-24 h-24 sm:w-24 sm:h-24 xl:w-24 xl:h-24 outline outline-offset-2 outline-1 hover:outline hover:outline-offset-2 hover:outline-2"><img src="{{ podcast.data.pdcastimg }}"
              alt="{{ podcast.data.title }}" class="rounded-full" /></figure>
        </a>
      </div>
      <div class="max-w-xs flex-none">
        <h2 class="text-lg font-semibold mt-0"><a href="{{ podcast.url }}" class="link-novisited">{{ podcast.data.title }}</a></h2>
        <p class="text-lg">{{ podcast.data.desc}}</p>
      </div>
    </div>
 
{%- endfor -%}
</div>
</div>

<h2 class="text-2xl font-bold mb-1">Написал</h2>

{%- for post in collections.posts-%}
  {% if forloop.last %}
  <p><span class="font-medium">Свежее в блоге:</span><br><a href="{{ post.url }}">{{ post.data.title }}</a></p>
  {% endif %}
{%- endfor -%}
<div class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-6 gap-x-4 gap-y-4 place-content-start">
  <div class="col-span-1 sm:col-span-4 md:col-span-4"><h3 class="font-black text-lg">Про Финансы</h3></div>
  <div class="col-span-1 sm:col-span-4 md:col-span-4"><a href="/posts/kak-vesti-uchyot-nalichki-v-biznese-i-ne-svihnutsya/">Как вести учёт налички в бизнесе
    и не свихнуться</a></div>
  <div class="col-span-1 sm:col-span-4 md:col-span-4"><a href="/posts/bezopasnost-pri-najme-finmenedzhera/">Безопасность при найме финансового менеджера</a></div>
  <div class="col-span-1 sm:col-span-4 md:col-span-4"><h4 class="text-lg">Для <a href="https://zhiza.evotor.ru/">Эвотора</a></h4></div>
  <div class="col-span-1 sm:col-span-4 md:col-span-4">Совместные цикл статей, о том, как маленький бизнес разбирается с управленкой</div>
  <div class="col-span-1 sm:col-span-4 md:col-span-4"><a href="https://zhiza.evotor.ru/vlozhitsya-i-ne-pozhalet-schitaem-effektivnost-reklamnoj-kampanii-do-eyo-nachala/">Считаем
      деньги: как вовремя понять, что бизнес идёт не так хорошо, как кажется.</a></div>
  <div class="col-span-1 sm:col-span-4 md:col-span-4"><a href="https://zhiza.evotor.ru/skolko-vy-mozhete-vzyat-iz-kassy-schitaem-dengi-ot-prodazh-do-chistoj-pribyli-2/">Сколько
      вы можете взять из кассы: считаем деньги от продаж до чистой прибыли</a></div>
  <div class="col-span-1 sm:col-span-4 md:col-span-4"><a href="https://zhiza.evotor.ru/gde-nazhat-chtoby-prodavat-bolshe-ishhem-tochku-rosta-vyruchki/">Где нажать,
        чтобы продавать больше? Ищем точку роста выручки</a></div>
  <div class="col-span-1 sm:col-span-4 md:col-span-4"><a href="https://zhiza.evotor.ru/kak-vybrat-na-chyom-sekonomit-v-pervuyu-ochered/">Как выбрать, на чём сэкономить
        в первую очередь</a></div>
  <div class="col-span-1 sm:col-span-4 md:col-span-4"><a href="https://zhiza.evotor.ru/vlozhitsya-i-ne-pozhalet-schitaem-effektivnost-reklamnoj-kampanii-do-eyo-nachala/">Вложиться
        и не пожалеть: считаем эффективность рекламной кампании до её начала.</a></div>
  <div class="col-span-1 sm:col-span-4 md:col-span-4"><a href="https://zhiza.evotor.ru/peresypali-muki-zarabotali-menshe-uchimsya-kontrolirovat-effektivnost-proizvodstvennyx-zatrat/">Учимся
        контролировать эффективность производственных затрат</a></div>
  <div class="col-span-1 sm:col-span-4 md:col-span-4"><a href="https://zhiza.evotor.ru/tochka-bezubytochnosti-skolko-nuzhno-prodat-chtoby-vybratsya-iz-minusa/">Точка
        безубыточности: сколько нужно продать, чтобы выбраться из минуса</a></div>
  <div class="col-span-1 sm:col-span-4 md:col-span-4"><a href="https://zhiza.evotor.ru/skolko-vy-zarabatyvaete-sostavlyaem-finansovyj-prognoz-na-god/">Сколько вы
        зарабатываете: составляем финансовый прогноз на год</a></div>
  <div class="col-span-1 sm:col-span-4 md:col-span-4"><a href="https://zhiza.evotor.ru/chi-dengi-u-vas-na-schyote/">Чьи деньги у вас на счёте?</a></div>
  <div class="col-span-1 sm:col-span-4 md:col-span-4"><h4 class="text-lg">Для <a href="https://noboring-finance.ru/">Нескучных финансов</a></h4></div>
  <div class="col-span-1 sm:col-span-4 md:col-span-4"><a href="https://noboring-finance.ru/gazeta/5-stadiy">Пять стадий принятия финансового факта</a></div>
  <div class="col-span-1 sm:col-span-4 md:col-span-4"><a href="https://noboring-finance.ru/gazeta/dyra-v-kapitale-2">Что делать если обнаружили дыру в собственном капитале</a></div>
  <div class="col-span-1 sm:col-span-4 md:col-span-4"><a href="https://noboring-finance.ru/gazeta/debitorka">Правила жизни с дебеторкой</a></div>
  <div class="col-span-1 sm:col-span-4 md:col-span-4"><a href="https://noboring-finance.ru/gazeta/ebitda">Что такое EBITDA и зачем она предпринимателю</a></div>
</div>


<!--Тест
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    
      <div>
        <h2 class="text-xl font-bold mb-4">Дизайн</h2>
        <ul class="space-y-2">
          <li><a href="meanwhile/all/everyone-designer/" class="text-blue-500 hover:underline">Все люди&nbsp;— дизайнеры</a></li>
          <li><a href="meanwhile/all/provesti-za-ruchku/" class="text-blue-500 hover:underline">Провести за&nbsp;ручку</a></li>
          <li><a href="meanwhile/2011/08/29/1/" class="text-blue-500 hover:underline">Дизайнеры и&nbsp;специалисты</a></li>
          <li><a href="meanwhile/all/responsive/" class="text-blue-500 hover:underline">Резиновый дизайн, респонсив и&nbsp;адаптив</a></li>
          <li><a href="meanwhile/2006/06/20/1/" class="text-blue-500 hover:underline">Закорючки</a></li>
          <li><a href="meanwhile/all/mac-support-mandatory-for-good-design/" class="text-blue-500 hover:underline">Поддержка Мака обязательна для&nbsp;хорошего дизайна</a></li>
          <li><a href="meanwhile/all/otricatelnye-arabskie-veka/" class="text-blue-500 hover:underline">Отрицательные арабские века</a></li>
          <li><a href="meanwhile/all/one-link/" class="text-blue-500 hover:underline">Принцип одной ссылки</a></li>
          <li><a href="meanwhile/2008/12/30/1/" class="text-blue-500 hover:underline">Правильный способ брать ссылки в&nbsp;кавычки</a></li>
          <li><a href="meanwhile/2011/04/20/1/" class="text-blue-500 hover:underline">Подчёркивание в&nbsp;логотипах</a></li>
        </ul>
      </div>

      <div>
        <h2 class="text-xl font-bold mb-4">Транспорт</h2>
        <ul class="space-y-2">
          <li><a href="meanwhile/all/london-buses/" class="text-blue-500 hover:underline">Автобусная система Лондона</a></li>
          <li><a href="meanwhile/all/london-underground-voice-announcements/" class="text-blue-500 hover:underline">Голосовые объявления в&nbsp;лондонском метро</a></li>
          <li><a href="meanwhile/all/konechnye-stancii-kak-orientir-v-metro/" class="text-blue-500 hover:underline">Конечные станции как ориентир в&nbsp;метро</a></li>
          <li><a href="meanwhile/all/transport-diagrams-and-geography/" class="text-blue-500 hover:underline">О&nbsp;географии на&nbsp;транспортных схемах</a></li>
          <li><a href="meanwhile/all/metro-closures-pr/" class="text-blue-500 hover:underline">Метростройинформ и&nbsp;метростройпиар</a></li>
          <li><a href="meanwhile/all/samaya-poleznaya-stena-v-metro/" class="text-blue-500 hover:underline">Самая полезная стена в&nbsp;метро</a></li>
        </ul>
      </div>


      <div>
        <h2 class="text-xl font-bold mb-4">Интерфейс</h2>
        <ul class="space-y-2">
          <li><a href="meanwhile/all/app-store-icon/" class="text-blue-500 hover:underline">Иконка Апстора</a></li>
          <li><a href="meanwhile/all/lishniy-kabinet/" class="text-blue-500 hover:underline">Лишний кабинет</a></li>
          <li><a href="meanwhile/all/cdj-design/" class="text-blue-500 hover:underline">Интерфейс пионеровских «Сидиджеев»</a></li>
          <li><a href="meanwhile/all/autocomplete-style/" class="text-blue-500 hover:underline">Автодополнение через выделение и&nbsp;без&nbsp;него</a></li>
          <li><a href="meanwhile/all/splash-screens/" class="text-blue-500 hover:underline">Заставки при&nbsp;загрузке приложений</a></li>
        </ul>
      </div>


      <div>
        <h2 class="text-xl font-bold mb-4">Работа</h2>
        <ul class="space-y-2">
          <li><a href="meanwhile/all/prepayment/" class="text-blue-500 hover:underline">Берите предоплату 100%</a></li>
          <li><a href="meanwhile/2011/06/29/1/" class="text-blue-500 hover:underline">Не&nbsp;ездите на&nbsp;работу</a></li>
          <li><a href="meanwhile/all/sleep/" class="text-blue-500 hover:underline">Спите</a></li>
        </ul>
      </div>


      <div>
        <h2 class="text-xl font-bold mb-4">Переговоры</h2>
        <ul class="space-y-2">
          <li><a href="meanwhile/all/mission/" class="text-blue-500 hover:underline">Миссия</a></li>
          <li><a href="meanwhile/all/psevdokemp-chto-by-vy-hoteli-chtoby-my-sdelali/" class="text-blue-500 hover:underline">Что&nbsp;бы вы хотели, чтобы мы сделали</a></li>
          <li><a href="meanwhile/all/psevdokemp-priotkrytye-voprosy/" class="text-blue-500 hover:underline">Приоткрытые вопросы</a></li>
          <li><a href="meanwhile/all/psevdokemp-skazhite-mne-ob-etom/" class="text-blue-500 hover:underline">Скажите мне об&nbsp;этом</a></li>
        </ul>
      </div>


      <div>
        <h2 class="text-xl font-bold mb-4">Рост и&nbsp;управление собой</h2>
        <ul class="space-y-2">
          <li><a href="meanwhile/2011/05/21/1/" class="text-blue-500 hover:underline">Критика&nbsp;— это комплимент</a></li>
          <li><a href="meanwhile/all/inconsistency-and-learning/" class="text-blue-500 hover:underline">Непоследовательность и&nbsp;обучение</a></li>
          <li><a href="meanwhile/all/learn-anything/" class="text-blue-500 hover:underline">Всему можно научиться</a></li>
          <li><a href="meanwhile/all/thats-just-who-i-am/" class="text-blue-500 hover:underline">Такой уж я человек</a></li>
          <li><a href="meanwhile/all/do-it-tomorrow/" class="text-blue-500 hover:underline">Сделать завтра</a></li>
        </ul>
      </div>
      </div>
  </div> -->