---
layout: posts-feed
title: Блог Димы Фурье
desc: Заметки про управление, дизайн и менеджмент
pagination:
  data: collections.posts
  size: 10
  reverse: true
  alias: posts
---
<h2 class="text-2xl sm:text-4xl font-bold leading-tight">Записи блога</h2>
{% for post in pagination.items %}
{% if post.data.published %}
<div class="mb-16">
  <h2 class="text-2xl sm:text-4xl font-bold leading-tight">
    <a class="link-novisited no-underline hover:underline" href="{{ post.url }}">{{ post.data.title }}</a>
  </h2>
  <div>
  <em><time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time></em><span
    class="text-base font-normal"> &middot; Время чтения ≈ {{ post.templateContent | readTime }} мин</span>
  </div>
  <div>{{ post.templateContent }}</div>

  <div class="flex flex-nowrap items-center mt-4 text-2xl sm:text-md md:text-lg lg:text-xl xl:text-2xl">
    <div class="pr-4 text-gray-500 hover:text-orange-500 focus:text-orange-500">
      {% for tag in post.data.tags %}
      {% if tag != "posts" %}
      <span class="pr-2 text-gray-500"><a href="/tags/{{ tag | slug }}"
          class="link-inherit link-novisited hover:text-orange-500 focus:text-orange-500 active:text-orange-500 ">{{ tag }}</a></span>
      {% endif %}
      {% endfor %}
    </div>


  </div>

</div>

{% endif %}
{% endfor %}


{% include "paginator.liquid" %}