---
layout: sandbox
title: Тестирование скрипта для переключение
desc: Тестовое описание для главной страницы

---


<h2 class="text-2xl font-bold">Страничка для теста перкключения темной темы</h2>

<h3> Изменения цвета likely</h3>

{% include "likely.liquid" %}

<h3>Изменение цвета комментариев</h3>

{% include "comments.liquid" %}
