<!-- 

{% assign similar = collections.sortedPosts | similarPosts: page.inputPath,
categories %} {% if similar.size > 0 %}
<div class="container">
  <h2>Еще по теме</h2>
  <div
    class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-8"
  >
    {% for post in similar limit: 6 %}
    <a
      href="{{ post.url }}"
      class="relative w-full h-48 object-cover rounded-lg bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
    >
      <img
        src="/assets/img/stories/Storypermpart5.png"
        alt=""
        class="w-full h-48 object-cover rounded-lg"
      />
      <h5 class="m-4 text-base font-bold tracking-tight link">
        {{ post.data.title }}
      </h5>
    </a>
    {% endfor %}
  </div>
</div>
{% else %} {% endif %}
-->
<!---
{% assign similar = collections.sortedPosts | similarPosts: page.inputPath,
categories %} {% if similar.size > 0 %}
<h2>Сосздаём одну сториз нормальных размеров</h2>

<div>
  <div class="flex flex-row justify-start gap-6">
    {% for post in similar limit: 6 %}
    <!--one-->
    <div class="max-w-xs relative">
      <a
        href="#"
        class="inline-block mr-3 hover:scale-105 hover:rotate-2 hover:shadow transition-all duration-300"
      >
        <img
          src="/assets/img/stories/Storypermpart5.png"
          alt="City"
          class="object-cover rounded-lg"
        />
        <div class="absolute top-3/4">
          <h5>
            {{ post.data.title }}
          </h5>
        </div>
      </a>
    </div>
    {% endfor %} {% else %} {% endif %}
  </div>
</div>
->